<template>
    <nav class="nav">
        <div class="container">
            <div class="nav-left">
                <!--<div class="nav-item">-->
                    <!--<img src="/images/logo-smallest.png">-->
                <!--</div>-->
                <router-link class="nav-item is-tab" to="/matches" exact>
                    <a>Matches</a>
                </router-link>
                <!--<router-link class="nav-item is-tab" to="/players" exact>-->
                    <!--<a>Players</a>-->
                <!--</router-link>-->
            </div>
            <span class="nav-toggle" @click="collapseMenu = !collapseMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                collapseMenu: false
            }
        }
    }
</script>